@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html * {
    font-family: 'Poppins';
}

body {
    background-color: black;
}

upscale-header {
    @media (max-width: 1199px) {
        padding: 0!important;
    }
}

.shopping-cart-icon__cart-icon {
    width: 15px!important;
    .shopping-cart-icon__cart-icon-image {
        width: 100%!important;
    }
}
